# Environment variables / secrets
.env
.streamlit/secrets.toml

# Virtual environment
myenv/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

#Demo files
demo.py

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db